<h2 style="text-align: center; margin-bottom: 20px">Log in</h2>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="border: 1px solid; border-radius: 5px; padding: 15px 15px">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |form| %>
      <div class="form-group">
        <%= form.label :email%>
        <br>
        <%= form.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :password%>
        <br>
          <%= form.password_field :password,  autocomplete: "off", class: "form-control" %>
      </div>   

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">      
            <%= form.check_box :remember_me%>
            <%= form.label :remember_me %>        
        </div>
      <% end %>

      <div class="form-group">
          <%= form.submit "Log in", class: "btn btn-info" %>
      </div>     
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-2"></div>
</div>


