<h1 style="margin-bottom: 30px">Editing Profile</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6" style="border: 1px solid; border-radius: 5px; padding: 15px 15px">
      <div class="form-group" >
        <%= f.label :user_name %><br>
        <%= f.text_field :user_name, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Finish", class: "btn btn-outline-success" %>
        <%= link_to 'Cancel', admin_users_path, class: "btn btn-outline-danger" %>
      </div>
    </div>  
  </div>
<% end %>